@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #808080;
    font-family: 'Roboto', sans-serif;
}
section.chat__section {
    width: 400px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
    padding: 0px;
    background: #36454f;
    display: flex;
    align-items: center;
}
.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    margin-left: 10px;
}
.message__area{
    height: 400px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
textarea {
    width: 100%;
    border-style: solid;
    padding: 20px;
    font-size: 12px;
    outline: none;
    background: #FFF8DC;
}

.message {
    padding: 5px; 
    border-radius: 4px; 
    margin-bottom: 25px;
    max-width: 300px;
    position: relative;
}
.incoming {
    background: #7CFC00;
    color: #000000; 
    margin-right: auto;
}
.outgoing {
    background: #FA8072;
    color: #000000;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}